#add_course{
    cursor: pointer;
}
td{
    height: 70px;
}
@media(min-width:768px)and (max-width:1199px) {
    table th{
        font-size:10px;
    }
    table td{
        font-size:10px;
    }
}
@media(min-width:420px)and (max-width:768px) {
    table th{
        font-size:9px;
    }
    table td{
        font-size:9px;
    }
}

@media (max-width:300px) {
   table th {     
        font-size:11px;
    }
    table td{       
        font-size:11px;
        flex-direction: column;
    }
} 