<mat-sidenav-container>
    <mat-sidenav #sidebar mode="side" opened>
        <app-institute-sidebar></app-institute-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
                    <span class="example-spacer"></span>
                        <div class="name_text">
                            Login as : {{name | titlecase}}
                        </div>
                        <button mat-raised-button [matMenuTriggerFor]="menu">
                            <img src={{url}}{{img_url}} width="50" height="50">
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item class="action_btn" (click)="profile_update()">Update Profile</button>
                            <button mat-menu-item class="action_btn" >I-Card</button>
                            <button mat-menu-item class="action_btn" (click)="inst_change_pwd()">Change
                                Password</button>
                            <button mat-menu-item class="action_btn" [routerLink]="['/institutelogin']">LogOut</button>
                        </mat-menu>
                </mat-toolbar>
            </div>
            <div class="main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>