/******************** css for home layout start **********************/
.container-fluid {
    padding: 0px;
    cursor: default;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #525458;
}

.mat-menu-content:not(:empty) {
    background-color: #1d1f23;
    width: 150px;
}

mat-sidenav {
    width: 250px;
    height: 100%;
    background-color: #1d1f23;
}

mat-sidenav-content {
    height: 100vh;
    background-color: whitesmoke;
}

mat-toolbar {
    height: 60px;
    justify-content: space-between;
    background-color: #1d1f23;
    position: fixed;
    z-index: 2;

}
.action_btn {
    color: #fff;
}

.action_btn:hover {
    background-color: #5a74ad;
}

mat-icon {
    height: 30px;
    width: 30px;
    font-size: 30px;
    cursor: pointer;
    color: whitesmoke;
}

.main {
    padding: 62px 2px 2px 2px;
}

#dash_header_admin {
    width: calc(100% - 500px);
    height: 100%;
}

.name_text {
    width: calc(100% - 330px);
    height: 100%;
    display: inline-block;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#dash_header_admin span {
    line-height: 65px;
    font-size: 16px;
    color: whitesmoke;
    letter-spacing: 1px;
    margin-left: 40px;
    float: right;
}

#admin_logo {
    width: 45px;
    height: 45px;
    float: right;
    margin: 8px 0px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    position: fixed;
    right: 1.4%;
    top: 0px;
}

#admin_logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* for media queary starting here */

@media(min-width: 767px) and (max-width:991px) {
    .name_text {
        position: relative;
        right: 40px;
    }
}

@media(min-width: 420px) and (max-width:767px) {
    .name_text {
        display: none;
    }

    #admin_logo {
        width: 40px;
        height: 40px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 420px) {

    #dash_header_admin span {
        display: none;
    }

    #admin_logo {
        width: 40px;
        height: 40px;
    }

    mat-sidenav {
        width: 155px;
    }

    mat-icon {
        width: 105px;
    }
}