/******************** css for home layout start **********************/
::-webkit-scrollbar {
    width: 5px;
    background-color: #525458;
}

.mat-menu-content:not(:empty) {
    background-color: #1d1f23;
    width: 150px;
}
.name_text{
    color: rgb(232, 232, 232);
}
mat-sidenav {
    width: 250px;
    height: 100%;
    background-color: #1d1f23;
}

mat-sidenav-content {
    height: 100vh;
    background-color: whitesmoke;
}
mat-toolbar {
    height: 60px;
    justify-content: space-between;
    background-color: #1d1f23;
}
.main {
    padding: 2px;
}
mat-icon {
    font-size: 28px;
    cursor: pointer;
    color: whitesmoke;
}