<div class="wrapper">
  <div id="header">
    <div id="logo">
      <img src="assets/educatorbox.png" routerLink="/home">
    </div>
    <div id="btn_area">
      <button mat-button [routerLink]="['institutelogin']">Login</button>
    </div>
  </div>
  <div id="slider">
    <div id="slider_content">
      <h2>Integrated Digital Coaching Management System</h2>
      <p>Educator box – All-in-one paper less solution for your coaching.</p>
      <button mat-button (click)="demo_func()">Try Demo</button>
    </div>
    <div id="slider_img">
      <img src="assets/educatorboxhomeimg.png">
    </div>
  </div>
  <div id="website_details">
    <div class="info_box">
      <img src="assets/quiz_img.png">
    </div>
    <div class="info_box">
      <img src="assets/liveclass.png">
    </div>
    <div class="info_box">
      <img src="assets/ronaldo.jpg">
    </div>
    <div class="info_box">
      <img src="assets/quiz_img.png">
    </div>
  </div>
  <div id="choose_us">
    <strong>Why Should Choose Educator Box?</strong>
    <div id="choose_content">
      You should choose EducatorBox because we provide very good customer services according to
      user. We provide you different types of features on this platform like Quiz Sessions,
      Employe Management System, Salary Management System, Expence Management System, Coaching
      Management System, E-Learning Management System, Study Material Management System, Test
      Series System and so on. EducatorBox is easy to use for a normal and intelegent person.
      EducatorBox is very big platfrom for managing somthing. The kind of academic curriculum, placement drives, quality
      teaching, world-class infrastructure, global exposure, EducatorBox has it all under one gigantic roof. We are
      peovide Hackthon events on this platform.
    </div>
  </div>
  <div id="contact">
    <div class="contact_form_img">
      <img src="assets/contact.png">
    </div>
    <div class="contact_form">
      <h4>Enquiry</h4>
      <form [formGroup]="contactForm">
        <mat-form-field appearance="fill" id="top_input">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter Your Name">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email-ID</mat-label>
          <input matInput placeholder="Enter Your E-Mail ID">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Phone</mat-label>
          <input matInput type="number" placeholder="Enter Your Phone Number">
        </mat-form-field>


        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Message...</mat-label>
          <textarea matInput type="Number" placeholder="Enter Your Message"></textarea>
        </mat-form-field>
      </form><br>
      <div class="submit">
        <button mat-raised-button color="warn" (click)="reset()">Reset</button>
        <button mat-raised-button color="primary" (click)="sendmsg()">Submit</button>
      </div>
    </div>
  </div>
  <div id="contact">
    <div class="contact_form_img">
      <img src="assets/quiz_img.png">
    </div>
    <div class="contact_form">
      <h4>Contact Us</h4>
      <div class="my_info">
        <mat-icon class="maticon">place</mat-icon>Yadav Complex Infront of Carnival
        (Navin Cinema Hall) Hajipur, Vaishali, Bihar.
      </div>
      <div class="my_info">
        <mat-icon class="maticon">phone_in_talk</mat-icon>9661647172
      </div>
      <div class="my_info">
        <mat-icon class="maticon">phone_in_talk</mat-icon>9470407608
      </div>
      <div class="my_info">
        <mat-icon class="maticon">email</mat-icon>greensoft.hjp@gmail.com
      </div>

    </div>
  </div>
  <div id="footer">
    <a href="https://greensoft.net.in" target="_blank">Powered By : Green Soft</a>
  </div>
</div>