
/* Code written by Rohit start from here */

#wrapper{
    width: 100%;
    height: auto;
    float: left;
}

/***** header code start from here *****/

#header{
    width: 100%;
    height: 90px;
    float: left;
    background-color: white;
    box-shadow: 1px 1px 15px rgb(188, 188, 188);
    position: fixed;
    z-index: 5;
}

#logo{
    width: 30%;
    height: 100%;
    float: left;
    overflow: hidden;
}

#logo img{
    scale: 1.20;
    margin-left: 50%;
}

.action_btn {
    color: #fff;
}

.action_btn:hover {
    background-color: #43474f;
}

#menu{
    width: calc(100% - 35%);
    float: left;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

a:hover{
    color: white;
}

#menu button{
    float: left;
    margin-top: 28px;
    margin-left: 10px;
    font-size: 18px;
    font-family: cambria;
    border-radius: 20px;
    transition: 0.5s;
}

#menu button:hover{
    background-color:#292c30;
    color: white;
}

#navigation_bar{
    width: 5%;
    height: 100%;
    float: right;
    display: none;
}


/**** slider code start from here ****/
#slider_area{
    width: 100%;
    height: 500px;
    float: left;
    margin-top: 80px;
}

#for_text{
    width: 50%;
    height: 100%;
    float: left;
}

#for_image{
    width: 50%;
    height: 100%;
    float: left;
}
#for_image img{
    width: 80%;
    height: 80%;
    margin: 8%;
}

#text_1{
    font-size: 50px;
    float: left;
    margin-top: 180px;
    line-height: 50px;
    margin-left: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#whatshapp_chat{
    width: 65px;
    height: 65px;
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 20;
}

#whatshapp_chat img{
    width: 100%;
    height: 100%;
}


/***** facilities code start from here*****/
#facilities{
    width: 100%;
    height: auto;
    float: left;
}

#facility_title{
    width: 100%;
    height: 50px;
    float: left;
    font-size: 22px;
    font-family: cambria;
    text-align: center;
    line-height: 50px;
}

.facilitie_card{
    width: 48%;
    height: 300px;
    float: left;
    background-color: rgb(252, 249, 249);
    margin-left: 1.3%;
    border-radius: 10px;
    margin-bottom: 1.3%;
    overflow: hidden;
}

.facility_heading{
    width: 100%;
    height: 50px;
    float: left;
    font-size: 22px;
    font-family: cambria;
    padding: 15px;
}

.facility_content{
    width: 40%;
    height: calc(100% - 50px);
    float: left;
    font-family: cambria;
    font-size: 18px;
    font-family: cambria;
    line-height: 28px;
    padding: 15px;
    text-align: justify;
}

.facility_image{
    width: 60%;
    height: calc(100% - 50px);
    float: left;
}

/* about code start from here */
#about{
    width: 100%;
    height: auto;
    float: left;
    box-shadow: 1px 1px 8px rgb(199, 199, 199);
}

#about_head{
    width: 100%;
    height: 50px;
    float: left;
    font-size: 22px;
    font-family: cambria;
    text-align: center;
    line-height: 50px;
}

#about_content{
    width: 100%;
    height: calc(100% - 50px);
    float: left;
    font-size: 20px;
    font-family: cambria;
    padding: 12px;
    line-height: 35px;
    text-align: justify;
    word-spacing: 8px;
}

/* contact code start from here */

#contact{
    width: 90%;
    height: 400px;
    float: left;
    background-color: rgb(232, 232, 232);
    margin-left: 5%;
    margin-top: 20px;
    border-radius: 10px;
}


/* footer code start from here */

#footer{
    width: 100%;
    height: 300px;
    float: left;
    background-color: rgb(45, 53, 71);
    margin-top: 10px;
}

.footer_box{
    width: 33.3%;
    height: 100%;
    float: left;
    border-right: 1px solid white;
}
.footer_box ul{
    width: 100%;
    height: calc(100% - 50px);
    float: left;
}

.footer_box ul li{
    width:100%;
    height: auto;
    padding: 10px;
    float: left;
    font-size: 18px;
    font-family: cambria;
    color: white;
    cursor: pointer;
}

.footer_box ul li a{
    color: white;
}

.footer_box_header{
    width: 100%;
    height: 50px;
    float: left;
    font-size: 22px;
    font-family: cambria;
    padding: 10px;
    color: white;
}

.footer_box p{
    width: 100%;
    height: auto;
    font-size: 18px;
    color: white;
    float: left;
    padding: 10px;
    line-height: 25px;
    font-family: cambria;
}

#copyright{
    width: 100%;
    height: 50px;
    float: left;
    background-color: rgb(47, 54, 82);
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-family: cambria;
}


/****** Media query start from here *********/

@media(max-width:750px) and (min-width:500px){
    #header{
        height: 60px;
    }
    #logo{
        width: calc(100% - 5%);
        height: 100%;
    }
    #logo img{
        width: 20%;
        scale: 1.20;
        margin-left: 10%;
    }
    #menu{
        display: none;
    }
    #navigation_bar{
        display: block;
    }
    #navigation_bar button{
    width: auto;
    height: auto;
    margin-top: 5px;
}

    #navigation_bar button mat-icon{
    width: auto;
    height: auto;
    font-size: 35px;
    position: relative;
    right: 18px;
    top: 12px;
    float: left;
    cursor: pointer;
    color: black;
}
    #slider_area{
        width: 100%;
        height: auto;
        margin-top: 60px;
    }
    #for_text{
        width: 100%;
        height: 200px;
        float: left;
    }
    #for_image{
        width: 100%;
        height: 400px;
    }
    #for_image img{
        width: 90%;
        height: 90%;
    }
    #text_1{
        font-size: 35px;
        margin-top: 50px;
    }
    #services{
        height: auto;
    }
    .service_card{
        width: 90%;
        height: 300px;
        margin-left: 8%;
        margin-top: 8%;
    }
    .facilitie_card{
        width: calc(100% - 10%);
        height: 280px;
        margin-left: 5px;
        background-color: rebeccapurple;
    }
    .facility_content{
        font-size: 17px;
        padding: 8px;
    }
    #about_head{
        height: 40px;
    }
    #about_content{
        font-size: 17px;
        word-spacing: 2px;
        line-height: 28px;
        padding: 8px;
    }
    #contact{
        height: 250px;
    }
    #footer{
        width: 100%;
        height: auto;
    }
    .footer_box{
        width: 100%;
        height: 300px;
        /* border-bottom: 1px solid white; */
    }
    
   
    
  

}