<!-- <div id="wrapper">
  <div id="header">
    <h1>CMS</h1>
    <button class="login_head" mat-button [matMenuTriggerFor]="menu">Login</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="action_btn" [routerLink]="['adminlogin']">Admin</button>
      <button mat-menu-item class="action_btn" [routerLink]="['institutelogin']">Institute</button>
      <button mat-menu-item class="action_btn" [routerLink]="['studentlogin']">Student</button>
    </mat-menu>
  </div>
  <div id="main">
    <h2 class="welcome_text">Welcome To Green Soft</h2>
  </div>
  <div id="footer">
    <span>Developed By <a href="https://www.greensoft.net.in">Green Soft</a></span>
    <span>Version 1.0</span>
  </div>
</div> -->


<!------------ Code written by Rohit start from here ------------------->

<div id="wrapper">
  <div id="header">
    <div id="logo">
      <img src="assets/educatorbox.png" width="40%" height="100%">
    </div>

    <div id="menu">
      <button mat-button>Home</button>
      <button mat-button>About us</button>
      <button mat-button>Solutions</button>
      <button mat-button>Services</button>
      <button mat-button>Features</button>
      <button mat-button>Careers</button>
      <button class="login_head" mat-button [matMenuTriggerFor]="menu" style="border: 2px solid #292c30;">Login/Register</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="action_btn" [routerLink]="['adminlogin']" style="color: white;">Admin</button>
        <button mat-menu-item class="action_btn" [routerLink]="['institutelogin']" style="color: white;">Institute</button>
        <button mat-menu-item class="action_btn" [routerLink]="['studentlogin']" style="color: white;">Student</button>
      </mat-menu>
    </div>

    <!-- mobile navigation bar code -->
    <div id="navigation_bar">
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>

  <!-- Services code start from here -->

  <div id="slider_area">
    <div id="for_text">
      <span id="text_1">Integrated Digital School Management System</span>
      <span id="text_2">Best Services in India...</span>
    </div>
    <div id="for_image">
      <img src="assets/img.png">
    </div>
  </div>
  <div id="whatshapp_chat">
    <a href="https://wa.me/91.9470407608"><img src="assets/whatshapp.png"></a>
  </div>
  <div id="services">
    <div id="service_title">OUR SERVICES</div>

    <div class="service_card">
      <div class="card_head"> E-Learning </div>
      <div class="card_image">
        <img src="assets/educatorbox.png">
      </div>
      <div class="about_card_img">
        We provide the service of E-Learning for getting knowledge by our this platform.
      </div>
    </div>

    <div class="service_card">
      <div class="card_head"> OES </div>
      <div class="card_image">
        <img src="assets/educatorbox.png">
      </div>
      <div class="about_card_img">
        We provide the service of E-Learning for getting knowledge by our this platform.
      </div>
    </div>

    <div class="service_card">
      <div class="card_head"> CMS </div>
      <div class="card_image">
        <img src="assets/educatorbox.png">
      </div>
      <div class="about_card_img">
        We provide the service of E-Learning for getting knowledge by our this platform.
      </div>
    </div>

    <div class="service_card">
      <div class="card_head"> Digital Content </div>
      <div class="card_image">
        <img src="assets/educatorbox.png">
      </div>
      <div class="about_card_img">
        We provide the service of E-Learning for getting knowledge by our this platform.
      </div>
    </div>

    <div class="service_card">
      <div class="card_head"> Fee Management </div>
      <div class="card_image">
        <img src="assets/educatorbox.png">
      </div>
      <div class="about_card_img">
        We provide the service of E-Learning for getting knowledge by our this platform.
      </div>
    </div>

  </div>

  <!-- facility code start from here -->
  <div id="facilities">
    <div id="facility_title">OUR FACILITY</div>

    <div class="facilitie_card">
      <div class="facility_heading">Quiz Program</div>
      <div class="facility_content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias quia labore consequatur quod at pariatur est
        sapiente. Enim vitae accusamus, laboriosam eum animi rerum.
      </div>
      <div class="facility_image">
        <img src="assets/quiz_img.png" width="90%" height="100%">
      </div>
    </div>

    <div class="facilitie_card">
      <div class="facility_heading">Study Material</div>
      <div class="facility_content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias quia labore consequatur quod at pariatur est
        sapiente. Enim vitae accusamus, laboriosam eum animi rerum.
      </div>
      <div class="facility_image">
        <img src="assets/studymaterial.png" width="100%" height="100%">
      </div>
    </div>

    <div class="facilitie_card">
      <div class="facility_heading">Certificate of any Course</div>
      <div class="facility_content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias quia labore consequatur quod at pariatur est
        sapiente. Enim vitae accusamus, laboriosam eum animi rerum.
      </div>
      <div class="facility_image">
        <img src="assets/certificatecourse.png" width="100%" height="100%">
      </div>
    </div>

    <div class="facilitie_card">
      <div class="facility_heading">Live Classes</div>
      <div class="facility_content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias quia labore consequatur quod at pariatur est
        sapiente. Enim vitae accusamus, laboriosam eum animi rerum.
      </div>
      <div class="facility_image">
        <img src="assets/liveclass.png" width="100%" height="100%">
      </div>
    </div>

  </div>

  <!-- footer code start from here -->
  <div id="footer">
    <div id="footer_overlap">
      <span id="footer_text_overlap">Do Not Waste Your Time <button mat-button id="register_button">Register Now</button></span>
    </div>
    <div id="footer_details"></div>
  </div>
</div>