#wrapper {
    width: 100%;
    height: auto;
    float: left;
  }
  
  /** header code start from here **/
  
  #header {
    width: 100%;
    height: 90px;
    float: left;
    background-color: white;
    box-shadow: 1px 1px 15px rgb(188, 188, 188);
    position: fixed;
    z-index: 5;
  }
  
  #logo {
    width: 30%;
    height: 100%;
    float: left;
    overflow: hidden;
  }
  
  #logo img {
    scale: 1.20;
    margin-left: 50%;
  }
  
  .action_btn {
    color: #fff;
  }
  
  .action_btn:hover {
    background-color: #43474f;
  }
  
  .menu {
    width: calc(100% - 35%);
    float: left;
    height: 100%;
  }
  
  a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }
  
  .menu button {
    float: left;
    margin-top: 28px;
    margin-left: 10px;
    font-size: 18px;
    font-family: cambria;
    border-radius: 20px;
    transition: 0.5s;
  }
  
  .menu button:hover a{
    color: white;
  }
  
  #navigation_bar {
    width: 5%;
    height: 100%;
    float: right;
    display: none;
  }
  
  .nav button:hover:not(.active){
    background-color:rgb(40, 46, 49);
    color: white;
    cursor: pointer;
  }
  .active{
    background-color:rgb(40, 46, 49);
    cursor: pointer;
   
  }
  
  /** slider code start from here **/
  #slider_area {
    width: 100%;
    height: 500px;
    float: left;
    margin-top: 80px;
  }
  
  #for_text {
    width: 50%;
    height: 100%;
    float: left;
  }
  
  #for_image {
    width: 50%;
    height: 100%;
    float: left;
  }
  
  #for_image img {
    width: 80%;
    height: 80%;
    margin: 8%;
  }
  
  #text_1 {
    font-size: 50px;
    float: left;
    margin-top: 180px;
    line-height: 50px;
    margin-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #whatshapp_chat {
    width: 65px;
    height: 65px;
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 20;
  }
  
  #whatshapp_chat img {
    width: 100%;
    height: 100%;
  }
  
  
  /** facilities code start from here**/
  #facilities {
    width: 100%;
    height: auto;
    float: left;
  }
  
  #facility_title {
    width: 100%;
    height: 50px;
    float: left;
    font-size: 22px;
    font-family: cambria;
    text-align: center;
    line-height: 50px;
  }
  
  .facilitie_card {
    width: 48%;
    height: 300px;
    float: left;
    background-color: rgb(252, 249, 249);
    margin-left: 1.3%;
    border-radius: 10px;
    margin-bottom: 1.3%;
    overflow: hidden;
  }
  
  .facility_heading {
    width: 100%;
    height: 50px;
    float: left;
    font-size: 22px;
    font-family: cambria;
    padding: 15px;
  }
  
  .facility_content {
    width: 40%;
    height: calc(100% - 50px);
    float: left;
    font-family: cambria;
    font-size: 18px;
    font-family: cambria;
    line-height: 28px;
    padding: 15px;
    text-align: justify;
  }
  
  .facility_image {
    width: 60%;
    height: calc(100% - 50px);
    float: left;
  }
  
  /* about code start from here */
  #about {
    width: 100%;
    height: auto;
    float: left;
    box-shadow: 1px 1px 8px rgb(199, 199, 199);
  }
  
  #about_head {
    width: 100%;
    height: 50px;
    float: left;
    font-size: 22px;
    font-family: cambria;
    text-align: center;
    line-height: 50px;
  }
  
  #about_content {
    width: 100%;
    height: calc(100% - 50px);
    float: left;
    font-size: 20px;
    font-family: cambria;
    padding: 12px;
    line-height: 35px;
    text-align: justify;
    word-spacing: 8px;
  }
  
  /* contact code start from here */
  
  #contact {
    width: 80%;
    height: 500px;
    float: left;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-top: 18px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgb(176, 176, 176);
  }
  
  #contact_form {
    width: 50%;
    height: 100%;
    float: left;
  }
  
  #top_input {
    margin-top: 90px;
  }
  
  #contact_form mat-form-field {
    width: 60%;
    margin-left: 20%;
  
  }
  
  #reset_btn {
    background-color: orangered;
    color: #fff;
    font-family: cambria;
    font-size: 18px;
    float: left;
    margin-left: 35%;
    margin-top: 20px;
  }
  
  #submit_btn {
    background-color: rgb(9, 85, 227);
    color: #fff;
    font-family: cambria;
    font-size: 18px;
    margin-left: 5px;
    float: left;
    margin-top: 20px;
  }
  
  #contact_form_img {
    width: 50%;
    height: 100%;
    float: left;
  }
  
  #contact_form_img img {
    width: 100%;
    height: 100%;
  }
  
  /***** why should choose us code start from here ******/
  
  #choose_us{
    width: 100%;
    height: auto;
    background-color: rgb(250, 250, 250);
    float: left;
    margin-top: 10px;
  }
  
  #choose_title{
    width: 100%;
    height: 50px;
    float: left;
    font-family: The Natures;
    font-size: 30px;
    padding: 10px;
    line-height: 40px;
    letter-spacing: 2px;
  }
  
  #choose_content{
    width: 100%;
    height: auto;
    float: left;
    font-family: cambria;
    font-size: 20px;
    padding: 15px;
    line-height: 34px;
    word-spacing: 5px;
    text-align: justify;
  }
  
  #copyright {
    width: 100%;
    height: 50px;
    float: left;
    background-color: rgb(47, 54, 82);
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-family: cambria;
  }
  
  
  /** Media query start from here ***/
  @media(max-width:750px) and (min-width:500px){
    #header{
        height: 60px;
    }
    #logo{
        width: calc(100% - 5%);
        height: 100%;
    }
    #logo img{
        width: 20%;
        scale: 1.20;
        margin-left: 10%;
    }
    .menu{
        display: none;
    }
    #navigation_bar{
        display: block;
    }
    #navigation_bar button{
    width: auto;
    height: auto;
    margin-top: 5px;
  }
  
    #navigation_bar button mat-icon{
    width: auto;
    height: auto;
    font-size: 35px;
    position: relative;
    right: 18px;
    top: 12px;
    float: left;
    cursor: pointer;
    color: black;
  }
    #slider_area{
        width: 100%;
        height: auto;
        margin-top: 60px;
    }
    #for_text{
        width: 100%;
        height: 200px;
        float: left;
    }
    #for_image{
        width: 100%;
        height: 400px;
    }
    #for_image img{
        width: 90%;
        height: 90%;
    }
    #text_1{
        font-size: 35px;
        margin-top: 50px;
    }
    #services{
        height: auto;
    }
    .service_card{
        width: 90%;
        height: 300px;
        margin-left: 8%;
        margin-top: 8%;
    }
    .facilitie_card{
        width: calc(100% - 10%);
        height: 280px;
        margin-left: 5px;
        background-color: rebeccapurple;
    }
    .facility_content{
        font-size: 17px;
        padding: 8px;
    }
    #about_head{
        height: 40px;
    }
    #about_content{
        font-size: 17px;
        word-spacing: 2px;
        line-height: 28px;
        padding: 8px;
    }
    #contact{
        height: 250px;
    
    }   
  } 
  
  @media(max-width:500px) and (min-width:100px) {
    #header {
        height: 80px;
    }
  
    #logo {
        width: 90%;
    }
  
    #logo img {
        margin-left: 10%;
    }
  
    /* #menu {
        display: none;
    } */
    #navigation_bar {
        width: 10%;
        height: 100%;
        display: block;
    }
  
    .nav{
        width: 100%;
        transition: 0.5s;
        z-index: 5;
      }
      section{
        background-color: rgb(40, 46, 49);
        height: 400px;
      }
      .nav button{
        width: calc(100% - 10%);
        margin-left: 5%;
        float: left;
        padding: 0;
        line-height: 10px;
        padding: 15px;
        margin-top: 12.5px;
        letter-spacing: 1px;
        /* color: #fff; */
        font-family: cambria;
        background-color: aliceblue;
        font-size: 18px;
        border: none;
      }
      .nav button:hover{
        background-color: #fff;
      }
    
      #bar{
        display: block;
        color: white;
        font-size: 35px;
        float: right;
        position: fixed;
        right: 10px;
        top: 28px;
        }
    
    #navigation_bar button {
        width: auto;
        height: auto;
        position: relative;
        right: 10px;
        top: 25px;
    }
  
    #navigation_bar button mat-icon {
        width: auto;
        height: auto;
        font-size: 35px;
        float: left;
        cursor: pointer;
        color: black;
    }
  
    #slider{
        width: 100%;
        height: 450px;
    }
    #for_text {
        width: 110%;
        height: 200px;
    }
  
    #for_image img{
        scale: 1.2;
        margin-left: 16%;
    }
  
    #text_1 {
        width: 100%;
        font-size: 35px;
        margin-top: 20px;
        margin-left: 20px;
    }
  
    #for_image {
        width: 100%;
        height: 250px;
        float: left;
    }
    #facility_title {
        width: 115%;
    }
    .facilitie_card{
        width: calc(115% - 2%);
        height: 400px;
        margin-left: 5px;
        margin-top: 10px;
        background-color: rgb(250, 249, 251);
    }
    #facilities{
        margin-top: -40px;
    }
    .facility_content{
        width: 100%;
        height: 200px;
    }
    .facility_image{
        width: 100%;
        height: 200px;
    }
    .facility_image img{
        width: 100%;
        height: 100%;
    }
    #about{
        width: 119%;
    }
    #contact{
        width: 104.5%;
        height: auto;
        margin-left: 8%;
        margin-bottom: -225px;
    }
  
    #contact_form{
        width: 100%;
        height: 380px;
    }
    #top_input{
         margin-top: 10px;
    }
    #contact_form mat-form-field {
        width: calc(100% - 10%);
        margin-left: 5%;
    }
    #contact_form_img{
        width: 100%;
        height: 250px;
    }
    #reset_btn{
        margin-left: 27%;
    }
    #copyright{
        width: 119.3%;
        position: relative;
        bottom: -265px;
    }
    #whatshapp_chat{
        width: 45px;
        height: 45px;
    }
    #choose_us{
        width: 119%;
        /* background-color: #292c30; */
        height: auto;
        margin-top: 250px;
        margin-bottom: -260px;
    }
    #choose_title{
        height: 40px;
        font-size: 22px;
    }
    #choose_content{
        font-size: 20px;
    }
  }