.example-spacer {
    flex: 1 1 auto;
    margin-bottom: 20px;
    color: #1d1f23;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.material-icons {
    color: #1d1f23;
    margin-bottom: 20px;
}

mat-toolbar {
    height: 30px;
    padding: 0px;
    background: none;
    position: relative;
    color: whitesmoke;
}

mat-form-field {
    margin-left: 10px;
}
#password{
    width: 200px;
}
textarea {
    height: 17px;
}

.register {
    margin-left:9.6em;
}

button {
    margin-left: 10px;
}
@media(min-width:420px)and (max-width:768px) {
    #wrapper{
        height: 350px;
    }
    mat-form-field {
        width: 100%;
        margin-left: 0;
    }

    #password {
        width: 100%;
    }
    .register {
        margin-left: 6em;
    }
}

@media(max-width:420px) {
    #wrapper{
        height: 300px;
    }
    mat-form-field {
        width: 100%;
        margin-left: 0px;
    }

    #password {
        width: 100%;
    }
    .register {
        margin-left: 3em;
    }
}