<div class="sidebar">
    <div class="top_head">
        <span class="title_text">{{inst_name}}</span>
    </div>
    <div class="menu">
        <div [ngClass]="'menu_item'">

            <button mat-button class="menu-button" [routerLink]="['dashboard']">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['course']">
                <mat-icon>school</mat-icon>
                <span>Course</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['batch']">
                <mat-icon>local_library</mat-icon>
                <span>Batch</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['takeaddmission']">
                <mat-icon>airline_seat_recline_normal</mat-icon>
                <span>Tack Admission</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['paymentreceived']">
                <mat-icon>payment</mat-icon>
                <span>Fee-paid</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['dues']">
                <mat-icon>redeem</mat-icon>
                <span>Dues</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['query']">
                <mat-icon>accessible</mat-icon>
                <span>Query</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['onlinetest']">
                <mat-icon>wc</mat-icon>
                <span>Online test</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['result']">
                <mat-icon>account_balance_wallet</mat-icon>
                <span>Reult</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['quizdashboard']">
                <mat-icon>redeem</mat-icon>
                <span>Quiz</span>
            </button>

            <div>
                <button mat-button class="menu-button" (click)="report_dropdown()" [routerLink]="['/#']">
                    <mat-icon>list_alt</mat-icon>
                    <span>Studey Material</span>
                    <mat-icon [hidden]="action_icon1">chevron_right</mat-icon>
                    <mat-icon [hidden]="action_icon2">expand_more</mat-icon>
                </button>


                <div id="dropdown_report">
                    <button mat-button class="menu-button" [routerLink]="['instbook']">
                        <mat-icon>book</mat-icon>
                        <span>Book</span>
                    </button>

                    <button mat-button class="menu-button" [routerLink]="['instnotes']">
                        <mat-icon>notes</mat-icon>
                        <span>Notes</span>
                    </button>

                    <button mat-button class="menu-button" [routerLink]="['instsyllabus']">
                        <mat-icon>style</mat-icon>
                        <span>Syllabus</span>
                    </button>

                    <button mat-button class="menu-button" [routerLink]="['instquestionbank']">
                        <mat-icon>question_answer</mat-icon>
                        <span>Question Bank</span>
                    </button>
                </div>

                <div>
                    <div>
                        <button mat-button class="menu-button" (click)="setting_dropdown()" [routerLink]="['/#']">
                            <mat-icon>settings</mat-icon>
                            <span>Settings</span>
                            <mat-icon [hidden]="action_icon3">chevron_right</mat-icon>
                            <mat-icon [hidden]="action_icon4">expand_more</mat-icon>
                        </button>

                        <div id="dropdown_setting">
                            <button mat-button class="menu-button" (click)="changepassword()">
                                <mat-icon>password</mat-icon>
                                <span>Change Password</span>
                            </button>

                            <button mat-button class="menu-button" [routerLink]="['/studentlogin']">
                                <mat-icon>logout</mat-icon>
                                <span>Logout</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>