<mat-toolbar>
    <span class="example-spacer">Add Course</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>

<form [formGroup]="course_form">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="course_name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Half Fee</mat-label>
            <input type="text" matInput formControlName="course_half_fee">
        </mat-form-field><br>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Course Fee</mat-label>
            <input type="text" matInput formControlName="course_fee">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Monthly</mat-label>
            <input type="text" matInput formControlName="course_monthly">
        </mat-form-field><br>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Duration</mat-label>
            <input type="text" matInput formControlName="course_duration">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Date</mat-label>
            <input type="date" matInput formControlName="course_date">
        </mat-form-field><br>

        <mat-form-field class="example-full-width" id="total" appearance="fill">
            <mat-label>Total Fee</mat-label>
            <input type="text" matInput formControlName="course_total_fee">
        </mat-form-field>

</form>

<div class="submit">
    <button mat-raised-button color="warn">Reset</button>
    <button mat-raised-button color="primary" [disabled]="!course_form.valid">{{actionBtn}}</button>
</div>