<mat-toolbar>
    <span class="example-spacer">Add Question</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>

<form [formGroup]="quiz_form">
    
    <!-- <mat-form-field appearance="fill" class="example-full-width" id="cursedescription">
        <mat-label>Course</mat-label>
        <mat-select formControlName="course_id_fk" (valueChange)="onCourse($event)">
            <mat-option *ngFor="let course of course_data"
                [value]="course.course_id">{{course.course_name}}</mat-option>
        </mat-select>
    </mat-form-field><br> -->

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Question</mat-label>
        <input matInput formControlName="quiz_question">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Option A</mat-label>
        <input matInput formControlName="quiz_option_a">
    </mat-form-field><br>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Option B</mat-label>
        <input matInput formControlName="quiz_option_b">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Option C</mat-label>
        <input matInput formControlName="quiz_option_c">
    </mat-form-field><br>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Option D</mat-label>
        <input matInput formControlName="quiz_option_d">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Answer</mat-label>
        <input matInput formControlName="quiz_answer">
    </mat-form-field><br>

    <mat-form-field class="example-full-width" appearance="fill" id="cursedescription">
        <mat-label>Description</mat-label>
        <input type="text" matInput formControlName="quiz_description">
    </mat-form-field>


    <input type="number" placeholder="course_no " readonly formControlName="course_id_fk"  readonly hidden >
    <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" readonly hidden >
    <input type="number" placeholder="quiz no" readonly formControlName="quiz_no"  readonly hidden  >
</form>

<div class="submit">
    <button mat-raised-button color="warn">Reset</button>
    <button mat-raised-button color="primary" (click)="quiz_btn()"
        [disabled]="!quiz_form.valid">{{actionBtn}}</button>
</div>