.example-spacer {
    flex: 1 1 auto;
    margin-bottom: 20px;
    color: #1d1f23;
    font-size: 18px;
  }
  
  .material-icons {
    color: #1d1f23;
    margin-bottom: 20px;
  }
  
  mat-toolbar {
    height: 30px;
    padding: 0px;
    background: none;
    position: relative;
    color: whitesmoke;
  }
  .example-full-width{
    margin-left: 10px;
  }
  .submit {
    margin-left: 9.6em;
  }
  
  button {
    margin-left: 10px;
  }
  