<div class="main_area">


    <a [routerLink]="['../course']">
        <div id="thumbnail" class="color4">
            <mat-icon>school</mat-icon><br>
            <span><b>{{course_count}}</b></span><br><br>
            <span>Total Coures</span>
        </div>
    </a>

    <a [routerLink]="['../batch']">
        <div id="thumbnail" class="color5">
            <mat-icon>local_library</mat-icon><br>
            <span><b>{{batch_count}}</b></span><br><br>
            <span>Batch</span>
        </div>
    </a>

    <a [routerLink]="['../takeaddmission']">
        <div id="thumbnail" class="color1">
            <mat-icon>transfer_within_a_station</mat-icon><br>
            <span><b>{{admission_count}}</b></span><br><br>
            <span>Tack Admission</span>
        </div>
    </a>

    <a [routerLink]="['../paymentreceived']">
        <div id="thumbnail" class="color2">
            <mat-icon>library_books</mat-icon><br>
            <span><b>{{fee_count}}</b></span><br><br>
            <span>Fee Paid</span>
        </div>
    </a>
    <a [routerLink]="['../dues']">
        <div id="thumbnail" class="color3">
            <mat-icon>airline_seat_recline_normal</mat-icon><br>
            <span><b>{{dues_count}}</b></span><br><br>
            <span>Dues</span>
        </div>
    </a>

    <a [routerLink]="['../query']">
        <div id="thumbnail" class="color3">
            <mat-icon>airline_seat_recline_normal</mat-icon><br>
            <span><b>{{query_count}}</b></span><br><br>
            <span>Query</span>
        </div>
    </a>


    <a [routerLink]="['../onlinetest']">
        <div id="thumbnail" class="color6">
            <mat-icon>wc</mat-icon><br>
            <span><b>{{online_test_count}}</b></span><br><br>
            <span>Online test</span>
        </div>
    </a>

    <a [routerLink]="['../result']">
        <div id="thumbnail" class="color8">
            <mat-icon>accessible</mat-icon><br>
            <span><b>{{result_count}}</b></span><br><br>
            <span>Result</span>
        </div>
    </a>


    <a [routerLink]="['../quizdashboard']">
        <div id="thumbnail" class="color9">
            <mat-icon>account_balance_wallet</mat-icon><br>
            <span><b>{{quiz_count}}</b></span><br><br>
            <span>Quiz</span>
        </div>
    </a>

    <a [routerLink]="['../instbook']">
        <div id="thumbnail" class="color9">
            <mat-icon>settings</mat-icon><br>
            <span><b>{{setting_count}}</b></span><br><br>
            <span>Settings</span>
        </div>
    </a>

</div>