<div class="main_area">


    <a routerLink="/total-course">
        <div id="thumbnail" class="color4">
             <br>
            <span><b>30</b></span><br>
            <span>Total Coures</span>
        </div>
    </a>

    <a routerLink="/batch">
        <div id="thumbnail" class="color5">
            <mat-icon>local_library</mat-icon><br>
            <span><b>9</b></span><br>
            <span>Batch</span>
        </div>
    </a>

    <a routerLink="tack-admission">
        <div id="thumbnail" class="color1">
            <mat-icon>transfer_within_a_station</mat-icon><br>
            <span><b>31</b></span><br>
            <span>Tack admission</span>
        </div>
    </a>

    <a routerLink="/fee-report">
        <div id="thumbnail" class="color2">
            <mat-icon>library_books</mat-icon><br>
            <span><b>60</b></span><br>
            <span>Fee Paid</span>
        </div>
    </a>
    <a routerLink="/dues">
        <div id="thumbnail" class="color3">
            <mat-icon>airline_seat_recline_normal</mat-icon><br>
            <span><b>47</b></span><br>
            <span>Dues</span>
        </div>
    </a>

    <a routerLink="/quize">
        <div id="thumbnail" class="color3">
            <mat-icon>airline_seat_recline_normal</mat-icon><br>
            <span><b>47</b></span><br>
            <span>Query</span>
        </div>
    </a>


    <a routerLink="/online-test">
        <div id="thumbnail" class="color6">
            <mat-icon>wc</mat-icon><br>
            <span><b>56</b></span><br>
            <span>Online test</span>
        </div>
    </a>

    <a routerLink="/result">
        <div id="thumbnail" class="color8">
            <mat-icon>accessible</mat-icon><br>
            <span><b>7</b></span><br>
            <span>Result</span>
        </div>
    </a>

  
    <a routerLink="/qurey">
        <div id="thumbnail" class="color9">
            <mat-icon>account_balance_wallet</mat-icon><br>
            <span><b>25</b></span><br>
            <span>Quize</span>
        </div>
    </a>

    <a routerLink="/settings">
        <div id="thumbnail" class="color9">
            <mat-icon>settings</mat-icon><br>
            <span><b>25</b></span><br>
            <span>Settings</span>
        </div>
    </a>

</div>