<div id="manage_table_wrapper">
    <div class="head">
        <span class="batch_text">Expense Details</span>
        <mat-icon id="add_batch" (click)="add_expense()">add_circle</mat-icon>
    </div>
    <div class="count_area">
        <span class="notice_text">Total :{{expence_count}}</span>
        <div class="search">
            <input type="text" placeholder="Search" id="search_box" matInput (keyup)="applyFilter($event)" #input>
        </div>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="slno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> S.N. </th>
                <td mat-cell *matCellDef="let row; let i = index">{{(paginatorRef.pageIndex *
                    paginatorRef.pageSize)+(i+1)}}
                </td>
            </ng-container>

            <ng-container matColumnDef="expense_type">
                <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Expense Type</th>
                <td class="data" mat-cell *matCellDef="let row">{{row.expense_type}}</td>
            </ng-container>

            <ng-container matColumnDef="expense_amount">
                <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                <td class="data" mat-cell *matCellDef="let row">{{row.expense_amount | currency:'INR':true}}</td>
            </ng-container>

            <ng-container matColumnDef="expense_pay_to">
                <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Pay to</th>
                <td class="data" mat-cell *matCellDef="let row">{{row.expense_pay_to}}</td>
            </ng-container>

            <ng-container matColumnDef="expense_mobile">
                <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Contact</th>
                <td class="data" mat-cell *matCellDef="let row">{{row.expense_mobile}}</td>
            </ng-container>

            <ng-container matColumnDef="expense_date">
                <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td class="data" mat-cell *matCellDef="let row">{{row.expense_date}}</td>
            </ng-container>

            <ng-container matColumnDef="expense_desc">
                <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Description </th>
                <td class="data" mat-cell *matCellDef="let row">{{row.expense_desc}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th class="trth" mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                <td class="data" mat-cell *matCellDef="let row">
                    <mat-icon (click)="edit_expense(row)">edit</mat-icon>
                    <mat-icon (click)="expence_delete(row)">delete</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" id="tbl_hight"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="tbl_hight"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="9" style="color:silver;">No record found"{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator #paginatorRef [pageSizeOptions]="[10, 25, 100]"
            aria-label="Select page of users"></mat-paginator>
    </div>
</div>