.add_head {
  display: flex;
  height: 30px;
  width: 100%;
  margin-bottom: 15px;
  justify-content: space-between;
}

.add_head span {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(52, 85, 190);
}

#close_btn {
  width: 30px;
  height: 30px;
}

#close_btn mat-icon {
  position: relative;
  bottom: 6px;
}

.mat-form-field {
  margin-left: 10px;
}

.btn_box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add_btn {
  margin-top: 28px;
  width: 14%;
  height: 39px;
  padding: 5px;
}

.reset_btn {
  margin-right: 14px;
  margin-top: 28px;
  height: 39px;
  width: 14%;
}

.address {
  width: 432px;
}

@media (max-width: 520px) {
  .add_box {
    width: 98%;
  }

  .address {
    width: 100%;
  }
}

@media (min-width: 520px) and (max-width: 720px) {
  .add_box {
    width: 48%;
  }

  .gender[_ngcontent-wra-c190] {
    width: 102%;
    margin: 2px 11px 16px -1px;

  }

  .address {
    width: 100%;
  }

  .add_box:last-child {
    width: 98%;

  }

}

@media (min-width: 720px) and (max-width: 1020px) {
  .add_box {
    width: 32.3%;
  }

  .gender {
    font-size: 14px;
  }

  .address {
    width: 400px;
  }
}