<div class="sidebar">
    <div class="top_head">
        <span class="title_text">{{inst_name}}</span>
    </div>
    <div class="menu">
        <div [ngClass]="'menu_item'">

            <button mat-button class="menu-button" [routerLink]="['dashboard']">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button>

            <div>
                <button mat-button class="menu-button" (click)="dropdown_master()">
                    <mat-icon>dvr</mat-icon>
                    <span>Master Entery</span>
                    <mat-icon [hidden]="action_icon3">chevron_right</mat-icon>
                    <mat-icon [hidden]="action_icon4">expand_more</mat-icon>
                </button>

                <div id="dropdown_master">
                    <button mat-button class="master_icon" [routerLink]="['course']">
                        <mat-icon>school</mat-icon>
                        <span>Course</span>
                    </button>

                    <button mat-button class="master_icon" [routerLink]="['batch']">
                        <mat-icon>local_library</mat-icon>
                        <span>Batch</span>
                    </button>

                    <button mat-button class="master_icon" [routerLink]="['instnotification']">
                        <mat-icon>notifications</mat-icon>
                        <span>Notification</span>
                    </button>

                    <button mat-button class="master_icon" [routerLink]="['instquizdashboard']">
                        <mat-icon>quiz</mat-icon>
                        <span>Quiz</span>
                    </button>

                    <button mat-button class="master_icon" [routerLink]="['employee']">
                        <mat-icon>supervisor_account</mat-icon>
                        <span>Employee</span>
                    </button>

                </div>
            </div>

            <button mat-button class="menu-button" [routerLink]="['enquiry']">
                <mat-icon>transfer_within_a_station</mat-icon>
                <span>Enquiry</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['student']">
                <mat-icon>library_books</mat-icon>
                <span>Student</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['admission']">
                <mat-icon>airline_seat_recline_normal</mat-icon>
                <span>Admission</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['fee']">
                <mat-icon>payment</mat-icon>
                <span>Fee</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['dues']">
                <mat-icon>redeem</mat-icon>
                <span>Dues</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['liveclass']">
                <mat-icon>chrome_reader_mode</mat-icon>
                <span>Live Class</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['oes']">
                <mat-icon>pets</mat-icon>
                <span>OES</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['elearning']">
                <mat-icon>explicit</mat-icon>
                <span>E-Learning</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['instquery']">
                <mat-icon>equalizer</mat-icon>
                <span>Query</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['certificate']">
                <mat-icon>file_copy</mat-icon>
                <span>Issue Certificate</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['expence']">
                <mat-icon>explicit</mat-icon>
                <span>Expence</span>
            </button>

            <div>
                <button mat-button class="menu-button" (click)="account_dropdown()">
                    <mat-icon>business</mat-icon>
                    <span>Account</span>
                    <mat-icon [hidden]="action_icon5">chevron_right</mat-icon>
                    <mat-icon [hidden]="action_icon6">expand_more</mat-icon>
                </button>

                <div id="dropdown_account">
                    <button mat-button class="master_icon" [routerLink]="['ledger']">
                        <mat-icon>book</mat-icon>
                        <span>Ledger</span>
                    </button>

                    <button mat-button class="master_icon" [routerLink]="['profitloss']">
                        <mat-icon>notes</mat-icon>
                        <span>Profit & Loss</span>
                    </button>

                </div>
            </div>
            <div>
                <button mat-button class="menu-button" (click)="dropdown_study()">
                    <mat-icon>list_alt</mat-icon>
                    <span>Study Material</span>
                    <mat-icon [hidden]="action_icon1">chevron_right</mat-icon>
                    <mat-icon [hidden]="action_icon2">expand_more</mat-icon>
                </button>

                <div id="dropdown_study">
                    <button mat-button class="master_icon" [routerLink]="['instbook']">
                        <mat-icon>book</mat-icon>
                        <span>Book</span>
                    </button>

                    <button mat-button class="master_icon" [routerLink]="['instnotes']">
                        <mat-icon>notes</mat-icon>
                        <span>Notes</span>
                    </button>

                    <button mat-button class="master_icon" [routerLink]="['instsyllabus']">
                        <mat-icon>style</mat-icon>
                        <span>Syllabus</span>
                    </button>

                    <button mat-button class="master_icon" [routerLink]="['instquestionbank']">
                        <mat-icon>question_answer</mat-icon>
                        <span>Question Bank</span>
                    </button>

                </div>
            </div>
        </div>
        <div>
            <button mat-button class="menu-button" (click)="dropdown_address()">
                <mat-icon>list_alt</mat-icon>
                <span>Address</span>
                <mat-icon [hidden]="action_icon7">chevron_right</mat-icon>
                <mat-icon [hidden]="action_icon8">expand_more</mat-icon>
            </button>

            <div id="dropdown_address">
                <button mat-button class="master_icon" [routerLink]="['country']">
                    <mat-icon> language</mat-icon>
                    <span>Country</span>
                </button>
                <button mat-button class="master_icon" [routerLink]="['state']">
                    <mat-icon>room</mat-icon>
                    <span>State</span>
                </button>
                <button mat-button class="master_icon" [routerLink]="['district']">
                    <mat-icon>map</mat-icon>
                    <span>District</span>
                </button>
                <button mat-button class="master_icon" [routerLink]="['block']">
                    <mat-icon>room</mat-icon>
                    <span>Block</span>
                </button>
                <button mat-button class="master_icon" [routerLink]="['panchayat']">
                    <mat-icon>gps_fixed</mat-icon>
                    <span>Panchayat</span>
                </button>
                <button mat-button class="master_icon" [routerLink]="['ward']">
                    <mat-icon>room</mat-icon>
                    <span>Ward</span>
                </button>

            </div>
        </div>

    </div>
</div>