<div class="sidebar">
    <div class="top_head">
        <span class="title_text">Admin</span>
    </div>
    <div class="menu">
        <div [ngClass]="'menu_item'">

            <button mat-button class="menu-button" [routerLink]="['dashboard']">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['institute']">
                <mat-icon>business</mat-icon>
                <span>Institute</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['inscourse']">
                <mat-icon>library_books</mat-icon>
                <span>Course</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['insbatch']">
                <mat-icon>assignment</mat-icon>
                <span>Batch</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['insstudent']">
                <mat-icon>school</mat-icon>
                <span>Student</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['insadmission']">
                <mat-icon>local_library</mat-icon>
                <span>Admission</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['insdues']">
                <mat-icon>money_off</mat-icon>
                <span>Dues</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['inspayment']">
                <mat-icon>payment</mat-icon>
                <span>Received</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['terms']">
                <mat-icon>description</mat-icon>
                <span>Term & Condition</span>
            </button>

            <div>
                <button mat-button class="menu-button" (click)="setting_dropdown()">
                    <mat-icon>settings</mat-icon>
                    <span>Settings</span>
                    <mat-icon [hidden]="action_icon3">chevron_right</mat-icon>
                    <mat-icon [hidden]="action_icon4">expand_more</mat-icon>
                </button>

                <div id="dropdown_setting">
                    <button mat-button class="menu-button">
                        <mat-icon>password</mat-icon>
                        <span>Change Password</span>
                    </button>

                    <button mat-button class="menu-button" [routerLink]="['/adminlogin']">
                        <mat-icon>logout</mat-icon>
                        <span>Logout</span>
                    </button>

                </div>
            </div>

        </div>
    </div>

    <div id="text"><i> QUESTION </i> </div>
    <section class="example-icon" >
        <div class="example-button-row" meta name="viewport" content="width=device-width, initial-scale=1.0">
             <button mat-raised-button color="warn">1</button>
             <button mat-raised-button color="warn">2</button>
             <button mat-raised-button color="warn">3</button>
             <button mat-raised-button color="warn">4</button>
             <button mat-raised-button color="warn">5</button>
             <button mat-raised-button color="warn">6</button>
             <button mat-raised-button color="warn">7</button>
             <button mat-raised-button color="warn">8</button>
             <button mat-raised-button color="warn">9</button>
             <button mat-raised-button color="warn">10</button>
             <button mat-raised-button color="warn">11</button>
             <button mat-raised-button color="warn">12</button>
             <button mat-raised-button color="warn">13</button>
             <button mat-raised-button color="warn">14</button>
             <button mat-raised-button color="warn">15</button>
             <button mat-raised-button color="warn">16</button>
             <button mat-raised-button color="warn">17</button>
             <button mat-raised-button color="warn">18</button>
             <button mat-raised-button color="warn">19</button>
             <button mat-raised-button color="warn">20</button>
        </div>
    </section>
</div>