<div id="wrapper">
    <mat-toolbar>
        <span class="example-spacer">Update Profile</span>
        <mat-icon mat-dialog-close>cancel</mat-icon>
    </mat-toolbar>

    <form [formGroup]="student_form">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="std_name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Father Name</mat-label>
            <input matInput formControlName="std_father_name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Father Occupation</mat-label>
            <input matInput formControlName="std_father_occupation">
        </mat-form-field><br>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Whatapp No</mat-label>
            <input formControlName="std_whatsapp_no" matInput type="number" onkeypress=" return this.value.length < 10">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Aadhar</mat-label>
            <input type="number" matInput formControlName="std_aadhar" onkeypress=" return this.value.length < 12">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput formControlName="std_email">
        </mat-form-field><br>

        <mat-form-field class="example-full-width" appearance="fill" id="pass_css">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="std_password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>DOB</mat-label>
            <input type="date" matInput formControlName="std_dob">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Gender : </mat-label>
            <mat-select formControlName="std_gender">
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Other">Other</mat-option>
            </mat-select>
        </mat-form-field><br>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>State</mat-label>
            <mat-select formControlName="std_state">
                <mat-option value="Panjab">Panjab</mat-option>
                <mat-option value="Hariyana">Hariyana</mat-option>
                <mat-option value="Bihar">Bihar</mat-option>
                <mat-option value="Up">Up</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>District</mat-label>
            <mat-select formControlName="std_district">
                <mat-option value="Muzaffarpur">Muzaffarpur</mat-option>
                <mat-option value="Samastipur">Samastipur</mat-option>
                <mat-option value="Patna">Patna</mat-option>
                <mat-option value="Vaishali">Vaishali</mat-option>
                <mat-option value="Saran">Saran</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" hidden>
            <mat-label>Date</mat-label>
            <input type="date" matInput formControlName="std_regist_date">
        </mat-form-field>

        <div class="user_image">
            <div>
                <img src={{url}}{{imgurl}} class="select_file" width="100%" height="100%">
            </div>
            <input type="file" name="std_photo" class="user_file" (change)="OnUpload($event)" formControlName="std_img">
        </div><br>


        <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="std_address"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Registration No</mat-label>
            <input matInput formControlName="std_regist_no">
        </mat-form-field>

        <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" hidden>
        <input type="number" readonly formControlName="std_id" hidden>
        <input type="number" readonly formControlName="institute_id_fk" hidden>

    </form>

    <div class="submit">
        <button mat-raised-button color="warn" (click)="reset()">Reset</button>
        <button mat-raised-button color="primary" (click)="update_profile()">Update</button>
    </div>
</div>