
.example-spacer {
    flex: 1 1 auto;
    margin-bottom: 20px;
    color: #1d1f23;
    font-size: 18px;
  }
  
  .material-icons {
    color: #1d1f23;
    margin-bottom: 20px;
  }
  
  mat-toolbar {
    height: 30px;
    padding: 0px;
    background: none;
    position: relative;
    color: whitesmoke;
  }
  mat-form-field{
    margin-left: 10px;
  }
  .user_image{
    width: 200px;
    height: 122px;
    float:right;
  }
  .user_image mat-label{
    margin-left: 10px;
  }
  .user_file{
    margin-top:15px;
    width: 180px;
    margin-left: 10px;
  }
  .select_file{
    height: 75px;
    padding: 2px 50px 0px 50px;
  
  }
    #address{
      width:65%;
      margin-left: 1.5%;
    }
    textarea {
      height: 17px;
    }
      
    .submit {
      margin-left: 40%;
    }
    
    button {
      margin-left: 5px;
    }
  
  
    @media(max-width:860px) {
      mat-form-field{
        width: 100%;
        margin-left:0px;
      }
      .user_image{
        width: 30%;
        float:right;
      }
      .user_file{
        width: 150px;
      }
      #address{
        width:66%;
        margin-left: 0px;
      }
      textarea {
        height: 88px;
      }
    }
    