mat-sidenav {
    background-color: #1d1f23;
    height: 100%;
    width: 250px;
}

mat-sidenav-content {
    height: 100vh;
    background-color: whitesmoke;
}
#dash_header_admin {
    width: calc(100% - 500px);
    height: 100%;
}

.name_text {
    width: calc(100% - 330px);
    height: 100%;
    display: inline-block;
    margin-left:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#dash_header_admin span {
    line-height: 65px;
    font-size: 16px;
    color: whitesmoke;
    letter-spacing: 1px;
    margin-left: 40px;
    float: right;
}

#admin_logo {
    width: 45px;
    height: 45px;
    float: right;
    margin: 10px 0px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    position: fixed;
    right:2%;
    top:0px;


}

#admin_logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.main {
    padding: 61px 2px 2px 2px;
}

mat-toolbar {
    background-color: #1d1f23;
    justify-content: space-between;
    height: 59px;
    position: fixed;
    top: 0px;
    z-index: 10;
}

mat-icon {
    color: whitesmoke;
    cursor: pointer;
}

.login {
    font-size: 15px;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    right: 45px;
    top: 16px;
}

.user-icon {
    position: fixed;
    right: 16px;
    top: 20px;
}

table {
    width: 100%;
}

a {
    text-decoration: none;
}

a button {
    color: whitesmoke;
    text-align: center;
}

@media(min-width:420px)and (max-width:768px) {
    .login {
        display: none;
    }

    .main {
        padding:60px 2px 2px 2px;
    }
}

@media(max-width:420px) {
    mat-sidenav {
        width: 170px;
    }

    .login{
        display: none;
    }
}