<mat-sidenav-container class="wrapper">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <app-admin-sidebar></app-admin-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
                    <div id="dash_header_admin">
                        <div class="name_text">
                            <span>Login as :&nbsp;&nbsp;{{name}}</span>
                        </div>
                        <div id="admin_logo">
                            <img src={{url}}{{img_url}}>
                        </div>
                    </div>
                </mat-toolbar>
            </div>
            <div class="main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>