<mat-toolbar>
    <span class="example-spacer">Add Notification</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>

<form [formGroup]="notification_form">

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Notification</mat-label>
        <input matInput formControlName="notification">
    </mat-form-field><br>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
    </mat-form-field>

    <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" hidden>

</form>

<div class="submit">
    <button mat-raised-button color="warn">Reset</button>
    <button mat-raised-button color="primary" (click)="notification_btn()"
        [disabled]="!notification_form.valid">{{actionBtn}}</button>
</div>