<div class="main_area">

    <a routerLink="/manage-course">
        <div id="thumbnail">
            <mat-icon>school</mat-icon><br>
            <span><b>30</b></span><br>
            <span>Coures</span>
        </div>
    </a>

    <a routerLink="/manage-batch">
        <div id="thumbnail">
            <mat-icon>local_library</mat-icon><br>
            <span><b>9</b></span><br>
            <span>Batch</span>
        </div>
    </a>

    <a routerLink="/student-details">
        <div id="thumbnail">
            <mat-icon>library_books</mat-icon><br>
            <span><b>60</b></span><br>
            <span>Student</span>
        </div>
    </a>

    <a routerLink="/admission">
        <div id="thumbnail">
            <mat-icon>airline_seat_recline_normal</mat-icon><br>
            <span><b>47</b></span><br>
            <span>Admission</span>
        </div>
    </a>

    <a routerLink="enquiry-details">
        <div id="thumbnail">
            <mat-icon>transfer_within_a_station</mat-icon><br>
            <span><b>31</b></span><br>
            <span>Enquiry</span>
        </div>
    </a>

    <a routerLink="/staff-salary">
        <div id="thumbnail">
            <mat-icon>accessible</mat-icon><br>
            <span><b>7</b></span><br>
            <span>Payment Received</span>
        </div>
    </a>

    <a routerLink="/manage-expencess">
        <div id="thumbnail">
            <mat-icon>account_balance_wallet</mat-icon><br>
            <span><b>25</b></span><br>
            <span>Dues</span>
        </div>
    </a>

    <a routerLink="/manage-expencess">
        <div id="thumbnail">
            <mat-icon>quiz</mat-icon><br>
            <span><b>25</b></span><br>
            <span>Uuiz</span>
        </div>
    </a>

    <a routerLink="/manage-expencess">
        <div id="thumbnail">
            <mat-icon>pets</mat-icon><br>
            <span><b>27</b></span><br>
            <span>OES</span>
        </div>
    </a>

    <a routerLink="/manage-expencess">
        <div id="thumbnail">
            <mat-icon>explicit</mat-icon><br>
            <span><b>35</b></span><br>
            <span>E-Learning</span>
        </div>
    </a>

    <a routerLink="/manage-expencess">
        <div id="thumbnail">
            <mat-icon>equalizer</mat-icon><br>
            <span><b>25</b></span><br>
            <span>Query</span>
        </div>
    </a>
    <a routerLink="/manage-expencess">
        <div id="thumbnail">
            <mat-icon>notifications</mat-icon><br>
            <span><b>10</b></span><br>
            <span>Notifications</span>
        </div>
    </a>
    <a routerLink="/manage-expencess">
        <div id="thumbnail">
            <mat-icon>book</mat-icon><br>
            <span><b>85</b></span><br>
            <span>Book</span>
        </div>
    </a>
    <a routerLink="/manage-expencess">
        <div id="thumbnail">
            <mat-icon>notes</mat-icon><br>
            <span><b>13</b></span><br>
            <span>Notes</span>
        </div>
    </a>
    <a routerLink="/manage-expencess">
        <div id="thumbnail">
            <mat-icon>style</mat-icon><br>
            <span><b>38</b></span><br>
            <span>Syllabus</span>
        </div>
    </a>
    <a routerLink="/manage-expencess">
        <div id="thumbnail">
            <mat-icon>question_answer</mat-icon><br>
            <span><b>200</b></span><br>
            <span>Question Bank</span>
        </div>
    </a>
</div>