<div class="main_area">

    <a routerLink="/manage-course">
        <div id="thumbnail">
            <mat-icon>school</mat-icon><br>
            <span><b>30</b></span><br>
            <span>Total Coures</span>
        </div>
    </a>

    <a routerLink="/manage-batch">
        <div id="thumbnail">
            <mat-icon>local_library</mat-icon><br>
            <span><b>9</b></span><br>
            <span>Total Batch</span>
        </div>
    </a>

    <a routerLink="/student-details">
        <div id="thumbnail">
            <mat-icon>library_books</mat-icon><br>
            <span><b>60</b></span><br>
            <span>Total Student</span>
        </div>
    </a>

    <a routerLink="/admission">
        <div id="thumbnail">
            <mat-icon>airline_seat_recline_normal</mat-icon><br>
            <span><b>47</b></span><br>
            <span>Total Admission</span>
        </div>
    </a>

    <a routerLink="enquiry-details">
        <div id="thumbnail">
            <mat-icon>transfer_within_a_station</mat-icon><br>
            <span><b>31</b></span><br>
            <span>Total Enquiry</span>
        </div>
    </a>

    <a routerLink="/staff-salary">
        <div id="thumbnail">
            <mat-icon>accessible</mat-icon><br>
            <span><b>7</b></span><br>
            <span>Total Payment Received</span>
        </div>
    </a>

    <a routerLink="/manage-expencess">
        <div id="thumbnail">
            <mat-icon>account_balance_wallet</mat-icon><br>
            <span><b>25</b></span><br>
            <span>Total Dues</span>
        </div>
    </a>

</div>