.view_notice {
  height: 40px;
  width: 100%;
  background-color: #1d1f23;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.notice_text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 16px;
}

.certificate_link {
  background-color: #1d1f23;
  border-radius: 5px;
  height: 37px;
  font-size: 12px;
  color: whitesmoke;
  margin: 5px 5px 0px 0px;
}

.certificate_link:focus {
  background-color: #4360b7;
}

#main_button {
  width: 65px;
  height: 40px;
  margin: auto;
}

#button_area {
  width: 120px;
  height: 40px;
  margin: auto;
}

.add_btn {
  width: auto;
  height: 35px;
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  word-spacing: 4px;
  font-size: 15px;
  cursor: pointer;
}

button {
  height: 30px;
  margin-left: 200px;
  margin-top: -26px;
  float: right;
  background-color: #1d1f23;
  color: whitesmoke;
  border-radius: 5px;
  margin-bottom: 20px;

}

mat-form-field {
  margin-right: 5px;
}

.content_area {
  text-align: center;
  margin-top: 65px;
  height: auto;
}

.addButton {
  background-color: #1d1f23;
  color: aliceblue;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-style: bold;
  line-height: 40px;
  border-radius: 5px;
  float: left;
  margin: 10px 0px 0px 80px;
}

.column_first {
  width: 410px;
  height: auto;
  margin: auto;
}

#billnobtn {
  position: absolute;
  right: 10px;
  height: 38px;
  top: 133.9px;
  margin-right: -8px;
}

.date_box {
  width: 198px;
  border: none;
  border-radius: 3px 3px 0px 0px;
  color: gray;
  border-bottom: 1px solid gray;
  background-color: #ebebeb;
  padding: 16px 10px 0px 11px;
  height: 52px;
}

.count_search {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
  box-sizing: border-box;
  color: #1d1f23;
}

.count_search .notice_text {
  font-size: 16px;
}

.search input {
  border-bottom: 1px solid #1d1f23;
  outline: none;
  padding: 7px 2px 6px 7px;
  background-color: whitesmoke;
  position: relative;
  top: -5px;
  left: 0px;
}

.mat-row:hover>.mat-cell {
  color: white
}

ng-container {
  text-align: center;
}

.left_form_field {
  margin-right: 615px;
}



/* for final submit  */
#doc_area{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_box {
  width: 250px;
  height: auto;
  float: left;
  margin-left: 50px;
  border: 0.5px solid gray;

}
#doc_area :first-child{
margin: 0;
}
.upload_type{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.upload_type button{
 margin: 0;
 margin: 5px;
 width: 100%;
}   

.img_area{
  width: 250px;
  height: 280px;
  padding: 5px;

}

img{
width: 240px;
height: 270px;
}


@media (min-width:1081px) and (max-width:2000px) {
  

}


@media (min-width:769px) and (max-width:1080px) {
  
}

@media(min-width:481px) and (max-width:768px) {
 


}

@media(max-width:480px) {
  /* for final submit  */
.img_box {
  width: 100%;
  height: 250px;
}
.upload_type{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.upload_type button{
 margin: 0;
}   

.img_area{
  width: 100%;
  height: 80%;
}

img{
width: 150px;
height: 180px;
}

}