.view_notice {
  height: 40px;
  width: 100%;
  background-color: #1d1f23;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.notice_text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 16px;
}

.certificate_link {
  background-color: #1d1f23;
  border-radius: 5px;
  height: 37px;
  font-size: 12px;
  color: whitesmoke;
  margin: 5px 5px 0px 0px;
}

.certificate_link:focus {
  background-color: #35373d;
}

#main_button {
  width: 65px;
  height: 40px;
  margin: auto;
}

#button_area {
  width: 120px;
  height: 40px;
  margin: auto;
}

.add_btn {
  width: auto;
  height: 35px;
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  word-spacing: 4px;
  font-size: 15px;
  cursor: pointer;
}

button {
  height: 30px;
  margin-left: 200px;
  margin-top: -26px;
  float: right;
  background-color: #1d1f23;
  color: whitesmoke;
  border-radius: 5px;
  margin-bottom: 20px;

}

mat-form-field {
  margin-right: 5px;
}

.content_area {
  text-align: center;
  margin-top: 65px;
  height: auto;
}

.addButton {
  background-color: #1d1f23;
  color: aliceblue;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-style: bold;
  line-height: 40px;
  border-radius: 5px;
  float: left;
  margin: 10px 0px 0px 80px;
}

.column_first {
  width: 410px;
  height: auto;
  margin: auto;
}

#billnobtn {
  position: absolute;
  right: 10px;
  height: 38px;
  top: 133.9px;
  margin-right: -8px;
}

.date_box {
  width: 198px;
  border: none;
  border-radius: 3px 3px 0px 0px;
  color: gray;
  border-bottom: 1px solid gray;
  background-color: #ebebeb;
  padding: 16px 10px 0px 11px;
  height: 52px;
}

.count_search {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
  box-sizing: border-box;
  color: #1d1f23;
}

.count_search .notice_text {
  font-size: 16px;
}

.search input {
  border-bottom: 1px solid #1d1f23;
  outline: none;
  padding: 7px 2px 6px 7px;
  background-color: whitesmoke;
  position: relative;
  top: -5px;
  left: 0px;
}

.mat-row:hover>.mat-cell {
  color: white
}

ng-container {
  text-align: center;
}

.left_form_field {
  margin-right: 615px;
}

.registration_form_left {
  margin-right: 206px;
}

.upload_img_div {
  width: 815px;
  margin-right: 10px;
  height: auto;
  margin: auto;
}

.upload_img {
  width: 100%;
  color: gray;
  border-bottom: 1px solid gray;
  background-color: #ebebeb;
  margin-bottom: 18px;
}

.certificate_uplaod {
  float: left;
  text-align: justify;
  font-size: 16px;
  color: rgb(26, 28, 27);
}

.file_img {
  width: auto;
  border: none;
  margin-left: -530px;
  padding: 10px;
}

@media (min-width:1081px) and (max-width:2000px) {
  .content_area {
    margin-top: 10px;
  }

  .column {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .column mat-form-field {
    width: 200px;
  }

  .column_1 mat-form-field {
    width: 815px;
    margin: auto;
    margin-right: 5px;
  }

  .column_first {
    width: 818px;
    margin-right: 10px;
    height: auto;
    margin: auto;
  }

  .column_first mat-form-field {
    width: 200px;
    float: left;
  }

}

@media (min-width:769px) and (max-width:1080px) {
  .column {
    width: 500px;
    height: auto;
    margin: auto;
  }

  .column mat-form-field {
    width: 200px;
  }

  .column_1 mat-form-field {
    width: 406px;
    margin: 0px;
    margin-right: 5px;
  }

  .column_first {
    width: 410px;
    height: auto;
    margin: auto;
  }

  .column_first mat-form-field {
    width: 200px;
    float: left;
  }

  .upload_img_div {
    width: 410px;
  }

  .upload_img {
    width: 100%;
    margin-bottom: 18px;
  }

  .file_img {
    margin-left: -142px;
  }

}

@media(min-width:481px) and (max-width:768px) {
  .content_area {
    margin-top: 15px;
  }

  .column {
    width: 100%;
    height: auto;
  }

  .column mat-form-field {
    width: 100%;
    margin: 0px;
  }

  .column_1 mat-form-field {
    width: 100%;
    margin: 0px;
  }

  .cotainer {
    margin-top: 10px;
    overflow-x: hidden;
  }

  #table_area {
    overflow-x: auto;
  }

  .column_first {
    width: 100%;
    height: auto;

  }

  .addButton {
    float: none;
    margin: 0px;
  }

  .total_amount {
    width: 100%;
    margin: 0px;
  }

  .date_box {
    width: 100%;
  }

  .upload_img_div {
    margin: 0px;
    margin-top: 20px;
    width: 100%;
    float: left;
  }

  .upload_img {
    width: 100%;
    margin-bottom: 18px;
    float: left;
  }

  .file_img {
    width: 100%;
    height: auto;
    float: left;
    margin: 0px;
  }
}

@media(max-width:480px) {
  .content_area {
    margin-top: 15px;
  }

  .column {
    width: 100%;
    height: auto;
  }

  .column mat-form-field {
    width: 100%;
    margin: 0px;
  }

  .column_1 mat-form-field {
    width: 100%;
    margin: 0px;
  }

  .cotainer {
    margin-top: 10px;
    overflow-x: hidden;
  }

  #table_area {
    overflow-x: auto;
  }

  .notice_text {
    font-size: 13px;
  }

  .count_search .notice_text {
    font-size: 13px;
  }

  table th {
    font-size: 13px;
  }

  table td {
    font-size: 13px;
  }

  th.mat-header-cell:first-of-type {
    padding-left: 13px;
  }

  th.mat-header-cell:last-of-type {
    padding-right: 0px;
    width: 0%;
  }

  td.mat-cell:first-of-type {
    padding-left: 20px;
  }

  td.mat-cell:last-of-type {
    padding-right: 0px;
    padding-left: 10px;
  }

  .total_amount {
    width: 100%;
    margin: 0px;
  }

  .column_first {
    width: 100%;
    height: auto;
  }

  .addButton {
    float: none;
    margin: 0px;
  }

  .date_box {
    width: 100%;
  }

  .upload_img_div {
    margin: 0px;
    margin-top: 20px;
    width: 100%;
    float: left;
  }

  .upload_img {
    width: 100%;
    margin-bottom: 18px;
    float: left;
  }

  .file_img {
    width: 100%;
    height: auto;
    float: left;
    margin: 0px;
  }

}