<mat-toolbar>
    <span class="example-spacer">Add Book</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>

<form [formGroup]="inst_book_form">
    
    <div class="box">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Course</mat-label>
        <mat-select formControlName="course_id_fk">
            <mat-option *ngFor="let course of course_data"
                [value]="course.course_id">{{course.course_name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <table class="photo" cellspacing="0">
        <mat-label class="student_kb">book image</mat-label>
        <input type="file" name="std_photo" class="upload" (change)="OnUpload($event)"
            formControlName="inst_book_img">
    </table>
    
    </div>
    
    <div class="box">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Book Title</mat-label>
            <input matInput formControlName="inst_book_title">
        </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="inst_book_description">
    </mat-form-field>
    </div>
    <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" hidden>

</form>

<div class="submit">
    <button mat-raised-button color="warn">Reset</button>
    <button mat-raised-button color="primary" (click)="inst_book_btn()">{{actionBtn}}</button>
</div>