/******************** css for home layout start **********************/
.container-fluid {
    padding: 0px;
    cursor: default;
}

/********************* css for home side navbar layout start ******************/
mat-sidenav {
    width: 250px;
    height: 100%;
    background-color: #1d1f23;
}

mat-sidenav-content {
    height: 100vh;
    background-color: whitesmoke;
}

/********************* css for home side navbar layout end ******************/
/******************************************** css for header start *****************************************/
mat-toolbar {
    justify-content: space-between;
    background-color: #1d1f23;
}

mat-icon {
    height: 30px;
    width: 30px;
    font-size: 30px;
    cursor: pointer;
    color: whitesmoke;
}

#dash_header_admin {
    width:calc(100% - 500px);
    height: 100%;
}

.name_text{
    width: calc(100% - 80px);
    height: 100%;
    display: inline-block;
}
#dash_header_admin span {
    line-height: 65px;
    font-size: 14px;
    color: whitesmoke;
    letter-spacing: 1px;
    margin-left: 40px;
    float: right;
}

#admin_logo {
    width: 45px;
    height: 45px;
    float: right;
    margin: 10px 0px;
    border-radius: 50%;
    cursor: pointer;
    background-color: red;
}

#admin_logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/******************************************** css for header end *****************************************/
/******************************************** css for main start *****************************************/
.main {
    padding: 2px;
}

/******************************************** css for main end *****************************************/
/******************** css for home layout end **********************/

/* Medium devices (landscape tablets, 768px and up) */
@media(min-width: 768px) and (max-width:991px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media(min-width: 420px) and (max-width:767px) {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 420px) {

    #dash_header_admin span {
        display: none;
    }

    #admin_logo {
        margin: 13px 0px;
        width: 35px;
        height: 35px;
    }

    .box {
        width: 100%;
        margin: 20px 5px 0px 0px;
    }

    mat-sidenav {
        width: 155px;
    }

    mat-icon {
        width: 105px;
    }
}