<div id="wrapper">
    

    <div id="header">
        <div class="logo1">
            <i> Quize Online EXAM </i> 
        </div>
        

      <div id="header-logo-right">

        <div class="logo"><span>Completed</span>
            <div class="mini2">0%</div>
            
        </div>

        <div class="logo"><span style="line-height: 20px;"> Exam Timing </span> 
            <div class="mini1">8pm</div>
            <div class="mini3"></div>

        </div> 

        <div class="logo"><span> Answered Question </span>
            <div class="mini">15</div>
        </div>

      </div>
        
     </div>

     <div id="content">
        <div id="right">
            <div id="text"><i> QUESTION </i> </div>
            <section class="example-icon" >
                <div class="example-button-row" meta name="viewport" content="width=device-width, initial-scale=1.0">
                     <button mat-raised-button color="warn">1</button>
                     <button mat-raised-button color="warn">2</button>
                     <button mat-raised-button color="warn">3</button>
                     <button mat-raised-button color="warn">4</button>
                     <button mat-raised-button color="warn">5</button>
                     <button mat-raised-button color="warn">6</button>
                     <button mat-raised-button color="warn">7</button>
                     <button mat-raised-button color="warn">8</button>
                     <button mat-raised-button color="warn">9</button>
                     <button mat-raised-button color="warn">10</button>
                     <button mat-raised-button color="warn">11</button>
                     <button mat-raised-button color="warn">12</button>
                     <button mat-raised-button color="warn">13</button>
                     <button mat-raised-button color="warn">14</button>
                     <button mat-raised-button color="warn">15</button>
                     <button mat-raised-button color="warn">16</button>
                     <button mat-raised-button color="warn">17</button>
                     <button mat-raised-button color="warn">18</button>
                     <button mat-raised-button color="warn">19</button>
                     <button mat-raised-button color="warn">20</button>
                </div>
            </section>

            <div id="colermanaga">
              <th>
                 <div class="threecoler"></div><span>Not Visted </span> 
              </th>
               <th>
                  <div class="threecoler" style="background-color:#00b33c ;"></div><span>Answerd</span> 
                </th>
               <th>
                   <div class="threecoler" style="background-color:#ff4d4d"></div><span>Skipped</span> 
                </th>
            </div>
               <div id="buttam-end">
                 <button class="pausbuttom" >PAUSE</button>
                 <button class="finishbuttom">FINISH EXAM</button>
                </div>
              
        </div>

        <div id="left">
             <div id="text"> </div>
            <div id="qus1">
              
               <th>
                   <div class="qus2" style="background-color: #ff4d4d;">Q1</div> 
                   <th><span style="margin-left: 10px;">div ko center ma lana k leya kon sa tag istamal kara </span>
               </th><br>

               <th>
                  <div class="qus2" style="background-color:#00b33c; margin-top: 10px;">A</div>
              </th>
            <div class="qus3" style="display: flex-box;">
              <input type="radio" name="uuuu" id="opt1" >
                <label for="opt1"> <span style="line-height: 10px;">margin top</span> </label><br>
                <input type="radio" name="uuuu" id="opt2">
                <label for="opt2">center</label><br>
                <input type="radio" name="uuuu" id="opt3">
                <label for="opt3">margin-left</label><br>
                <input type="radio" name="uuuu" id="opt4">
                <label for="opt4">behavior, direction</label>
            
                      

            </div>

            </div>

            <div id="bottam-icon">
                <th><button mat-raised-button class="Preview" style="background-color: #99CCFF;"  > <  Preview  </button>  </th>
          
                 <th><button mat-raised-button class="next">Next  ></button>  </th>
            </div>

        </div>
     </div>



</div>

