<div class="wrapper">
    <div class="head">
        <span>Angular Quiz</span>
        <span>03:00</span>
    </div>

    <div id="main">
        <div id="ques_viewport">
            <p id="ques_viewport_head">Question 1 of 50:</p>
            <span class="ques_text">
                <p>Which among the following is not a part of page break option in MS-Word ?</p>

                <mat-card>
                    <mat-card-content>
                        <span>No option is correct</span>
                    </mat-card-content>
                </mat-card>
                <br>
                <mat-card>
                    <mat-card-content>
                        <span>Even page</span>
                    </mat-card-content>
                </mat-card>
                <br>
                <mat-card>
                    <mat-card-content>
                        <span>Page</span>
                    </mat-card-content>
                </mat-card>
                <br>
                <mat-card>
                    <mat-card-content>
                        <span>Text wrapping</span>
                    </mat-card-content>
                </mat-card>
                <br>
                <mat-card>
                    <mat-card-content>
                        <textarea readonly
                            class="text_info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, facilis ad. Eligendi earum consequuntur vero tempora illum. Commodi aut architecto minima? Reprehenderit, veritatis optio sed dolorum natus voluptatem velit quisquam!</textarea>
                    </mat-card-content>
                </mat-card>
                <br>
            </span>
        </div>
    </div>
    <div class="footer">
        <button mat-raised-button color="basic">Preview Question</button>
        <button mat-raised-button color="basic">Next Question</button>

    </div>
</div>