<div id="wrapper">
    <div class="result_box">
        <div class="user_logo">
            <img src={{url}}{{img_url}}>
        </div>
        <div class="score_box">
            <label for="circle">Score
                <div class="circle">20</div>
            </label>
            <label for="circle">Result
                <div class="circle">50</div>
            </label>
            <label for="circle">Target
                <div class="circle">Good</div>
            </label>
        </div>
    </div>
</div>