<div class="main_area">

    <a [routerLink]="['../institute']">
        <div id="thumbnail" class="color1">
            <mat-icon>business</mat-icon><br>
            <span><b>31</b></span><br><br>
            <span>Institue</span>
        </div>
    </a>

    <a [routerLink]="['../inscourse']">
        <div id="thumbnail" class="color2">
            <mat-icon>library_books</mat-icon><br>
            <span><b>60</b></span><br><br>
            <span>Course</span>
        </div>
    </a>

    <a [routerLink]="['../insbatch']">
        <div id="thumbnail" class="color3">
            <mat-icon>assignment</mat-icon><br>
            <span><b>47</b></span><br><br>
            <span>Batch</span>
        </div>
    </a>

    <a [routerLink]="['../insstudent']">
        <div id="thumbnail" class="color4">
            <mat-icon>school</mat-icon><br>
            <span><b>30</b></span><br><br>
            <span>Student</span>
        </div>
    </a>

    <a [routerLink]="['../insadmission']">
        <div id="thumbnail" class="color5">
            <mat-icon>local_library</mat-icon><br>
            <span><b>9</b></span><br><br>
            <span>Admission</span>
        </div>
    </a>

    <a [routerLink]="['../insdues']">
        <div id="thumbnail" class="color8">
            <mat-icon>money_off</mat-icon><br>
            <span><b>7</b></span><br><br>
            <span>Dues</span>
        </div>
    </a>

    <a [routerLink]="['../inspayment']">
        <div id="thumbnail" class="color7">
            <mat-icon>payment</mat-icon><br>
            <span><b>9</b></span><br><br>
            <span>Received</span>
        </div>
    </a>


    <a [routerLink]="['../dashboard']">
        <div id="thumbnail" class="color9">
            <mat-icon>settings</mat-icon><br>
            <span><b>25</b></span><br><br>
            <span>Settings</span>
        </div>
    </a>

</div>