<div class="main_area">

    <a [routerLink]="['/adminhome/institute']">
        <div id="thumbnail" class="color1">
            <mat-icon>business</mat-icon><br>
            <span><b>{{institute_count}}</b></span><br><br>
            <span>Institue</span>
        </div>
    </a>

    <a [routerLink]="['/adminhome/inscourse']">
        <div id="thumbnail" class="color2">
            <mat-icon>library_books</mat-icon><br>
            <span><b>{{course_count}}</b></span><br><br>
            <span>Course</span>
        </div>
    </a>

    <a [routerLink]="['/adminhome/insbatch']">
        <div id="thumbnail" class="color3">
            <mat-icon>assignment</mat-icon><br>
            <span><b>{{batch_count}}</b></span><br><br>
            <span>Batch</span>
        </div>
    </a>

    <a [routerLink]="['/adminhome/insstudent']">
        <div id="thumbnail" class="color4">
            <mat-icon>school</mat-icon><br>
            <span><b>{{student_count}}</b></span><br><br>
            <span>Student</span>
        </div>
    </a>

    <a [routerLink]="['/adminhome/insadmission']">
        <div id="thumbnail" class="color5">
            <mat-icon>local_library</mat-icon><br>
            <span><b>{{admission_count}}</b></span><br><br>
            <span>Admission</span>
        </div>
    </a>

    <a [routerLink]="['/adminhome/insdues']">
        <div id="thumbnail" class="color8">
            <mat-icon>money_off</mat-icon><br>
            <span><b>{{dues_count}}</b></span><br><br>
            <span>Dues</span>
        </div>
    </a>

    <a [routerLink]="['/adminhome/inspayment']">
        <div id="thumbnail" class="color7">
            <mat-icon>payment</mat-icon><br>
            <span><b>{{received_count}}</b></span><br><br>
            <span>Received</span>
        </div>
    </a>


    <a [routerLink]="['/adminhome/dashboard']">
        <div id="thumbnail" class="color9">
            <mat-icon>settings</mat-icon><br>
            <span><b>{{setting_count}}</b></span><br><br>
            <span>Settings</span>
        </div>
    </a>

</div>