.head {
    height: 40px;
    width: 100%;
    background-color: #1d1f23;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
  }
  
  
  #add_course{
    cursor: pointer;
    font-size: 22px;
  }
  
  .count_area {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    color: #1d1f23;
  }
  
  .search_box {
    border: none;
    border-bottom: 1px solid #1d1f23;
    outline: none;
    padding: 5px;
    background-color: whitesmoke;
    position: relative;
    top: -2px;
  }
  table {
    width: 100%;
  }
  
  th {
    background-color: #1d1f23;
    color: white;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  tr:nth-child(even) {
    background-color: rgb(200, 200, 200);
    height: 40px;
  }
  
  tr:nth-child(odd) {
    height: 40px;
  }
  
  tr:hover {
    background-color: #494949;
    color: aliceblue;
    cursor: pointer;
  }
  
  .mat-row:hover>.mat-cell {
    color: white
  }
  
  /* /////////////////////////////////////////////////Media Quary Starting Here//////////////////////////////////////////////// */
  @media(min-width:420px) and (max-width:1080px) {
    .mat-elevation-z8 {
      overflow-x: auto;
    }
  
    .course_text {
      font-size: 14px;
    }
  
    .count_area .notice_text {
      font-size: 14px;
    }
  
    table td {
      font-size: 14px;
    }
    mat-paginator {
      position: absolute;
      width: 100%;
  }
  }
  
  @media (max-width:420px) {
    .mat-elevation-z8 {
      overflow-x: auto;
    }
  
    .course_text {
      font-size: 10px;
    }
  
    .count_area .notice_text {
      font-size: 10px;
    }
  
    td{
      font-size: 11px;
    }
    mat-paginator {
      position: absolute;
      width: 100%;
  }
  }
  