<div id="wrapper">
    <div id="header">
        <h1>CMS</h1>
        <button class="login_head" mat-button [matMenuTriggerFor]="menu">Login</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item class="action_btn" routerLink="/adminlogin">Admin</button>
            <button mat-menu-item class="action_btn" routerLink="/institutelogin">Institute</button>
            <button mat-menu-item class="action_btn" routerLink="/studentlogin">Student</button>
        </mat-menu>
    </div>
    <div id="main">

        <mat-card class="example-card">
            <mat-card-header>
                Admin Login
            </mat-card-header>
            <img src="assets/login.png" alt="login">
            <form [formGroup]="loginForm">
                <mat-card-content>
                    <mat-icon class="icon_1">account_circle</mat-icon>
                    <mat-form-field class="example-full-width">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Name" formControlName="username">
                    </mat-form-field>
                    <mat-icon class="icon_2">lock</mat-icon>
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password"
                            formControlName="admin_password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </mat-card-content>
            </form>
            <button mat-button class="action_login" mat-raised-button color="primary"
                (click)="admin_login()">Login</button>
            <button mat-button class="action_login" mat-raised-button color="primary" (click)="admin_login()"
                routerLink="/adminhome">Login</button>
            <p>Forgot Password</p>

        </mat-card>
    </div>
    <div id="footer">
        <span>Developed By <a href="https://www.greensoft.net.in">Green Soft</a></span>
        <span>Version 1.0</span>
    </div>
</div>