#wrapper {
    width: 100%;
    height: 100vh;
    background-color: #2C3E50;
    background-image: url('src/assets/main_back.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:fixed;
}

#header {
    height: 60px;
    width: 100%;
    background-color: #1d1f23;
    color: #ffff;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 14px 15px;
    display: inline-block;
}

.login_head {
    margin: 10px;
    height: 40px;
    background-color: #5a74ad;
}

.action_btn {
    color: #fff;
}

.action_btn:hover {
    background-color: #5a74ad;
}

#main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 105px);
}

.example-card {
    max-width: 350px;
    height: 450px;
    box-sizing: border-box;
    background-color: #1d1f23a7;
    margin: 6em auto;
}

mat-card-header {
    color: white;
    font-size: 25px;
    padding: 20px 0px 0px 60px;
    margin-bottom: 10px;
}

img {
    width: 100px;
    margin-left: 114px;
}

mat-card-content {
    color: white;
}

mat-form-field {
    width: 92%;
    float: right;
    margin-top: 10px;
}

::placeholder {
    color: #ffff;
}

mat-form-field mat-label {
    color: #ffff;
}

.icon_1 {
    position: relative;
    top: 20px;
    right: 4px;

}

.icon_2 {
    position: relative;
    top: 60px;
    right: 4px;
}

.action_login {
    width: 80px;
    color: white;
    margin-left: 117px;
    border-radius: 5px;
}

p {
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 30px;
}


#footer {
    width: 100%;
    height: 45px;
    color: #ffff;
    line-height: 45px;
    display: flex;
    justify-content: space-between;
    background-color: #1d1f23;
}

span {
    margin: 0px 10px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

/* for input auto fill background transparent  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #fff !important;
    transition: background-color 5000000s ease-in-out 0s;
}

/* for input auto fill background transparent  */

/* for responsive design in institute login */

@media(max-width:767px) {
    .example-card {
        max-width: 270px;
        height: 350px;
    }

    mat-card-header {
        font-size: 20px;
        padding: 10px 0px 0px 30px;
    }

    img {
        width: 70px;
        margin-left: 90px;
    }

    mat-form-field {
        width: 88%;
    }

    .action_login {
        width: 70px;
        margin-left: 83px;
    }

    .new_account {
        font-size: 11px;
    }

    p {
        position: relative;
        bottom: 15px;
        font-size: 12px;
    }

    span {
        font-size: 11px;
    }
}